@font-face {
    font-family: Jersey;
    src: url('../assets/fonts/Jersey');
}

.container {
    border: solid black 3px;
    margin: 20px;
    max-width: 200px;
    text-align: center;
    padding: 5px;
}

.container h3 {
    font-family: 'Jersey';
    font-size: 25px;
    font-weight: 700;
}

.container p {
    font-family: 'Jersey';
    font-size: 20px;
}

@media (max-width: 320px) {
    .container {
        margin: 10px;
    }

    .container h3 {
        font-size: 20px;
    }
    
    .container p {
        font-size: 15px;
    }
}