@font-face {
    font-family: Jersey;
    src: url('../assets/fonts/Jersey.ttf');
}

.container {
    display: flex;
    padding: 60px 60px 0px 200px;
    justify-content: space-between;
    gap: 50px;
    font-family: 'Jersey';
    border-bottom: 1px solid black;
    align-items: center;
}

.logo {
    font-size: 60px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 40px;
}

.links a {
    padding: 5px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
}

.links a:hover {
    opacity: 50%;
}

.button {
    background-color: white;
    border: solid black 2px;
    font-family: 'Jersey';
    font-size: 50px;
}

.button:hover {
    background-color: black;
    color: white;
}

.linksListButton {
    display: none;
}

.menu {
    display: none;
}

@media (max-width: 1024px) {
    .container {
        padding: 10px 10px 0 10px;
    }

    .logo {
        font-size: 40px;
    }

    .links {
        gap: 10px;
    }

    .links a {
        font-size: 30px;
    }
    
    .button {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .container {
        gap: 5px;
        align-items: end;
    }

    .button {
        font-size: 33px;
    }
}

@media (max-width: 320px) {
    .logo {
        display: none;
    }

    .links {
        display: none;
    }

    .linksListButton {
        display: block;
        background-color: white;
        font-weight: 900;
        font-size: 16px;
        padding: 0;
        height: 39px;
    }

    .linksListButton:hover {
        background-color: black;
        color: white;
    }

    .menu:active {
        display: block;
        position: absolute;
    }
}