.dark {
    transition: all 500ms linear;
    background-color: black;
    color: white;
}

.dark button {
    transition: all 500ms linear;
    background-color: black;
    color: white;
    border: solid 1px white ;
}

.dark button:hover {
    transition: all 500ms linear;
    background-color: white;
    color: black;
}

.dark a {
    transition: all 500ms linear;
    background-color: black;
    color: white;
    border: solid 1px white;
}

.light {
    transition: all 500ms linear;
    background-color: white;
    color: black;
}

.light button {
    transition: all 500ms linear;
}

.light a {
    transition: all 500ms linear;
}